
HF_TOKEN=hf_your_token_here


OPENAI_API_KEY=

# Path to image embedding file

IMAGE_EMBEDDINGS_PATH=data/image_embeddings.npy

# Path to image metadata file

IMAGE_METADATA_PATH=

# Top K images to return

TOP_K_RESULTS=5
